# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log
logs/
pids/
*.pid

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor-specific files
.vscode/
.idea/
*.swp

# Build and coverage directories
dist/
build/
coverage/
